streamlit 
pydeck 
pandas
matplotlib
numpy
Pillow 
folium
geopandas
streamlit_folium
earthengine-api
geemap
plotnine==0.14.6
pillow==10.2.0
watchdog==3.0.0
PyPDF2
imgkit
reportlab
pdf2image
datetime
staticmap
